@mixin miseenformetitreblocplat {
	font-size: $font-size-S;
	text-transform: uppercase;
	width: 40px;
	border-bottom: 3px solid $third-color;
	margin: 0px;
	padding-bottom: 5px;
}

@mixin layoutblocsmenus {
	width: 100%;
	height: 30%;
	margin-top: 35px;
}
