@import "./abstracts/mixins";
@import "./base/normalize";
@import "./base/typography";
@import "./base/animations";
@import "./base/breakpoints";
@import "./pages/accueil";
@import "./pages/menus";
@import "./layout/header";
@import "./layout/searchbar";
@import "./layout/footer";
@import "./components/buttons";
@import "./components/cards";

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}
