.footerHome {
	background-color: $background-alt-2;
	color: $font-color-1;
	padding: 20px 15px;
	&--home {
		margin-top: 0px;
	}
	&--menus {
		margin-top: -50px;
	}
	.footerHome__title {
		margin: 0px;
		padding-top: 5px;
		padding-bottom: 10px;
	}
	.footerHome__list {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		&-subelement {
			padding-top: 8px;
			&--icon {
				font-size: $font-size-S;
				width: 30px;
				padding-right: 15px;
			}
		}
		&--mail {
			color: $font-color-1;
		}
	}
}
