.headerHome {
	height: 60px;
	&__title {
		padding-top: 10px;
		font-family: $font-logoTitres;
		font-size: $font-size-XXL;
		text-align: center;
		@include tablet {
			font-size: calc($font-size-XXL * 1.5);
		}
	}
}

.headerMenu {
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	.headerMenu__returnHome {
		width: 250px;
	}
	.headerMenu__logo {
		height: 50%;
	}
}
