.form {
	height: 337px;
	background: linear-gradient(
		to top,
		$background-alt-3 0% 86%,
		$background-alt-5 86% 100%
	);
	border-top: 3.5px solid #cecece;
	text-align: center;
	&__input {
		.form__searchfield-icon {
			padding-top: 15px;
		}
		.form__searchfield-text {
			background: $background-alt-5;
			border: 0px;
			padding-top: 10px;
			width: 140px;
			text-align: center;
			&::placeholder {
				color: $font-color-2;
				font-weight: $font-weight-large;
				background: $background-alt-5;
				border: 0px solid $background-alt-5;
			}
		}
	}
}

.form__resultspresentation {
	height: 90%;
	padding: 50px 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.form__first-slogan {
		margin: 0px;
		width: 290px;
		@include tablet {
			font-size: $font-size-XXL;
			width: 100%;
		}
	}
	.form__second-slogan {
		margin: 0px;
		padding: 12px 0px 30px 0px;
		@include tablet {
			font-size: $font-size-XL;
		}
	}
}
