/* ANIMATION APPARATION MENUS */

@for $i from 1 through 10 {
	.Menucard-#{$i} {
		animation-name: Apparition;
		animation-duration: 5s;
		animation-iteration-count: 1;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
		animation-delay: 1s * $i;
	}
}

@keyframes Apparition {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(-10px);
	}
}
