/* ANIMATION APPARATION MENUS */

@for $i from 1 through 10 {
	.Menucard-#{$i} {
		opacity: 0;
		transition-property: all;
		transition-duration: 3s;
		transition-timing-function: linear;
		transition-delay: 1s * $i;
	}
}

body:hover .Menucard {
	opacity: 1;
	transform: translateY(-20px);
}
