.card {
	height: 250px;
	width: 100%;
	box-shadow: 4px 4px 8px $background-alt-4;
	border-radius: 15px;
	object-fit: cover;
	.card__button--new {
		display: none;
		background-color: $background-alt-6;
		color: $font-color-3;
		font-size: $font-size-S;
		font-weight: $font-weight-large;
		border: 0px solid;
		height: 30px;
		width: 80px;
		position: absolute;
		right: 5%;
		z-index: 9999;
		margin: 10px;
	}
}
.picturebloc {
	width: 100%;
	height: 70%;
	object-fit: cover;
	border-radius: 15px 15px 0px 0px;
	z-index: -1;
}
.descriptionbloc {
	background-color: $background-alt-1;
	width: 100%;
	height: 30%;
	margin-top: -5px;
	padding: 10px;
	border-radius: 0px 0px 15px 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.descriptionbloc__TxtPart {
		&--Name {
			margin: 0px;
			padding-bottom: 5px;
			color: $font-color-2;
		}
		&--Town {
			margin: 0px;
			color: $font-color-2;
		}
	}
	.descriptionbloc__TxtPart--NormalHeart {
		font-size: 24px;
		color: $font-color-2;
	}
}
