/* ANIMATION CHECK PAGES MENUS */

/* POSITION AVANT EFFET BACKGROUND*/

.Menucard__IconPart {
	transition-property: width;
	transition-duration: 3s;
	transition-timing-function: linear;
}

/*TRIGGER pour BACKGROUND */

.Menucard:hover .Menucard__IconPart {
	cursor: pointer;
	width: 15%;
}

/* POSITION AVANT EFFET ROTATE */

.Menucard__IconPart--check {
	transition: 2s;
	transition-delay: 400ms;
	transition-timing-function: linear;
}

.Menucard:hover:hover .Menucard__IconPart--check {
	cursor: pointer;
	opacity: 1;
	transform: rotate(360deg);
}
