/* TRANSITIONS */

.Menucard:hover .Menucard__plat {
	width: 65%;
}

.Menucard:hover .Menucard__check {
	transition-property: transform;
	transform: translateX(-60px);
	opacity: 1;
	transition: all 3s linear;
}

// .Menucard__IconPart {
// 	transition-property: width;
// 	transition-duration: 0.5s;
// 	transition-timing-function: ease-in-out;
// }

// .Menucard__IconPart--check {
// 	transition: 0.5s;
// 	transition-delay: 0ms;
// 	transition-timing-function: linear;
// }

// /* RESPONSIVE */

// .Menucard:hover .Menucard__IconPart {
// 	width: 15%;
// 	opacity: 1;
// }
// .Menucard:hover .Menucard__IconPart--check {
// 	cursor: pointer;
// 	opacity: 1;
// 	transform: rotate(360deg);
// }
