/* BLOC PLAT */

.Menucard:hover .Menucard__plat {
	width: 66%;
	transition: all 1s linear;
}

/* TRANSLATE */

.Menucard__check {
	transition: all 1s;
}

.Menucard:hover .Menucard__check {
	transition-property: transform;
	transform: translateX(-60px);
	@include tablet {
		transform: translateX(-140px);
	}
	@include desktop {
		transform: translateX(-70px);
	}
	transition: all 1s linear;
}

/* ROTATE */

.Menucard__check--icon {
	transition: all 0s;
}

.Menucard:hover .Menucard__check--icon {
	transition: all 1s linear;
	transform: rotate(360deg);
}
