.filterbutton:hover {
	background-color: lighten($second-color, 20%);
	cursor: pointer;
	.filterbutton__icon {
		color: $first-color;
	}
}

.HomeCards {
	cursor: pointer;
}

/*LOADING SPINNER */

@keyframes LoadingSpinner {
	0% {
		opacity: 0.1;
	}
	33% {
		opacity: 0.1;
		background: url("/images/logo/ohmyfood@2x.svg") no-repeat;
	}

	66% {
		opacity: 0.1;
		background: url("/images/logo/ohmyfood@2x.svg") no-repeat;
	}
	100% {
		opacity: 1;
	}
}

body {
	animation-name: LoadingSpinner;
	animation-duration: 30s;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-play-state: running;
}
