.filterbutton:hover {
	background-color: lighten($second-color, 20%);
	cursor: pointer;
	.filterbutton__icon {
		color: $first-color;
	}
}

.HomeCards {
	cursor: pointer;
}

/*LOADING SPINNER */

.effet {
	font-size: 48px;
	font-family: "Shrikhand";
	text-align: center;
}
.effet i {
	font-size: 36px;
	margin: 5px;
}

.effet--word1 {
	animation: color-animation 3s linear 1 forwards;
}
.effet--word2 {
	animation: color-animation 3s linear 1 forwards;
}
.effet--word3 {
	animation: color-animation 3s linear 1 forwards;
}

@keyframes color-animation {
	0% {
		color: $first-color;
		opacity: 1;
	}
	16% {
		color: $second-color;
		opacity: 1;
	}
	33% {
		color: $third-color;
		opacity: 1;
	}
	50% {
		color: $first-color;
		opacity: 1;
	}
	67% {
		color: $second-color;
		opacity: 1;
	}
	85% {
		color: $third-color;
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	95% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	85% {
		opacity: 0;
	}
	90% {
		opacity: 0.15;
	}
	95% {
		opacity: 0.33;
	}

	100% {
		opacity: 1;
	}
}

header,
form,
section,
footer {
	animation-name: opacity;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-play-state: running;
}

/* EFFET COEUR */

.HomeCard__description--regularHeart:active {
	@include AnimationHeartTrigger;
}

@media all and (min-width: 375px) {
	.HomeCard__description--regularHeart:hover {
		@include AnimationHeartTrigger;
	}
}

@keyframes HeartFull {
	0% {
		font-family: "Font Awesome 6 Free";
		font-weight: 900;
		content: "\f004";
		color: white;
	}
	1% {
		@include AnimationHeartDescription;
		opacity: 0.33;
	}
	25% {
		@include AnimationHeartDescription;
		opacity: 0.5;
	}
	50% {
		@include AnimationHeartDescription;
		opacity: 0.66;
	}
	75% {
		@include AnimationHeartDescription;
		opacity: 0.75;
	}
	100% {
		@include AnimationHeartDescription;
		opacity: 1;
	}
}
