@import "//sass/components/loadingspinner";
@import "//sass/components/check";
@import "//sass/components/apparition";
@import "//sass/components/hovers";
@import "//sass/components/coeur";

/* CURSOR POINTER */

.HomeCards {
	cursor: pointer;
}
