html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* QUERIES */
/* Base 375PX Mobile */

body {
	max-width: 375px;
}

main {
	max-width: 375px;
	margin: auto;
}

/* Breakpoint 1 (Tablette) */

@media all and (min-width: 768px) {
	body {
		max-width: 768px;
	}
	main {
		max-width: 768px;
		margin: auto;
	}
}

/* Breakpoint 2 (Desktop) */

@media all and (min-width: 992px) {
	body {
		max-width: 1440px;
	}
	main {
		max-width: 1440px;
		margin: auto;
	}
}
