$font-logoTitres: "Shrikhand";
$font-text: "Roboto";

$first-color: #9356dc;
$second-color: #ff79d9;
$third-color: #99e2d0;

$font-color-1: #fff;
$font-color-2: #000;
$font-color-3: #008766;

$background-alt-1: #fff;
$background-alt-2: #000;
$background-alt-3: #f6f6f6;
$background-alt-4: #cfcfcf;
$background-alt-5: #eaeaea;
$background-alt-6: #99e2d0;

$font-size-XL: 24px; /* H1 */
$font-size-L: 22px; /* H2 */
$font-size-M: 16px; /* Placeholder, txt buttons, txt cards */
$font-size-S: 14px; /*New button */

$font-weight-light: 200;
$font-weight-medium: 400;
$font-weight-large: 600;
$font-weight-big: 800;

body {
	font-family: $font-text;
}

a {
	text-decoration: none;
	color: $font-color-1;
}

.form__first-slogan .filters__title .cards__title {
	font-size: $font-size-XL;
}

.form__second-slogan {
	font-size: $font-size-L;
	font-weight: $font-weight-light;
}

.form::placeholder .form__result-button .descriptionbloc__TxtPart--Name {
	font-size: $font-size-M;
}

.descriptionbloc__TxtPart--Town {
	font-weight: $font-weight-light;
}

.footer__title {
	font-family: $font-logoTitres;
	font-weight: $font-weight-light;
}
