.form {
  width: 100%;
  height: 350px;
  background: linear-gradient(
    to top,
    $background-alt-3 0% 90%,
    $background-alt-4 90% 100%
  );
  border-top: 2px solid $background-alt-4;
}

::placeholder {
  background: $background-alt-4;
  border: 0px solid $background-alt-4;
}

.filters {
  width: 100%;
  height: 450px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.filters__title {
  margin: 0%;
  align-self: flex-start;
}

.cards {
  background-color: $background-alt-3;
  padding: 15px;
}
/* Mon commentaire de test */
