.filters {
	height: 350px;
	padding: 0px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.filters__title {
	margin: 0%;
	align-self: flex-start;
	padding: 0px 0px 25px 15px;
}

.effetLoadingSpinner {
	font-size: 48px;
	font-family: "Shrikhand";
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.effetLoadingSpinner i {
	font-size: 36px;
	margin: 5px;
}

.partie-restaurants {
	background-color: $background-alt-3;
	.HomeCards__title {
		padding-top: 40px;
		padding-bottom: 22px;
		margin: 0px;
	}
	.HomeCards {
		background-color: $background-alt-3;
		padding: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
