.filters {
	height: 350px;
	padding: 0px 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;

	@include desktop {
		height: 200px;
	}
}

.filters__title {
	margin: 0%;
	align-self: flex-start;
	padding: 0px 0px 20px 15px;
}

.effetLoadingSpinner {
	font-size: 48px;
	font-family: "Shrikhand";
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.effetLoadingSpinner i {
	font-size: 36px;
	margin: 5px;
}

.partie-restaurants {
	background-color: $background-alt-3;
	padding: 15px 15px 45px 15px;
	.HomeCards__title {
		padding: 40px 0px 20px 5px;
		margin: 0px;
	}
	.HomeCards {
		background-color: $background-alt-3;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		@include desktop {
			height: 600px;
		}
	}
}
