.titleImage {
	width: 100%;
	height: 265px;
	object-fit: cover;
}

.BlocMenu {
	width: 100%;
	padding: 15px;
	background-color: $background-alt-3;
	border-radius: 40px 40px 0px 0px;
	position: relative;
	top: -50px;
	padding: 15px 15px 35px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	@include desktop {
		flex-direction: row;
		align-items: flex-start;
		height: 530px;
	}
	.BlocMenu__title {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0px 10px 0px 10px;
		&--RestaurantName {
			font-family: $font-logoTitres;
			font-size: $font-size-XXL;
			font-weight: $font-weight-medium;
		}
		&--heartnormal {
			font-size: $font-size-XL;
		}
	}
	.BlocEntrees {
		width: 100%;
		height: 33%;
		margin-top: 35px;
		@include desktop {
			width: 30%;
			margin: 0px 10px;
		}
		&__title {
			@include miseenformetitreblocplat;
		}
	}
	.BlocPlats {
		width: 100%;
		height: 30%;
		margin-top: 35px;
		@include desktop {
			width: 30%;
			margin: 0px 10px;
		}
		&__title {
			@include miseenformetitreblocplat;
		}
	}
	.BlocDesserts {
		width: 100%;
		height: 30%;
		margin-top: 35px;
		@include desktop {
			width: 33%;
			margin: 0px 10px;
		}
		&__title {
			@include miseenformetitreblocplat;
		}
	}
}

/*.BlocEntrees,
.BlocPlats,
.BlocDesserts {
	opacity: 0;
}*/
